# Required options to allow booting fitImages
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_FIT_IMAGE_POST_PROCESS is not set
# CONFIG_ROCKCHIP_FIT_IMAGE is not set
# CONFIG_SPL_AB is not set

# Additional features
CONFIG_BOOTDELAY=2
CONFIG_CMD_IMI=y
CONFIG_CMD_READ=y
CONFIG_FIT_VERBOSE=y
CONFIG_ENVF_LIST="blkdevparts mtdparts sys_bootargs app reserved ipaddr serverip netmask gatewayip ethaddr boot_net boot_system"
