image @IMAGE@ {
  hdimage {
    partition-table-type = gpt
    gpt-no-backup = true
    align = 4096
  }
  partition u-boot-environment {
    image = u-boot-default-env.img
    offset = 24k
    in-partition-table = false
  }
  partition idblock {
    image = idblock.img
    offset = 32k
    in-partition-table = false
  }
  partition u-boot {
    image = u-boot.img
    offset = 544k
    in-partition-table = false
  }
}
